.i-ching {
    .hex-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 2rem;
    
        .hex-design {
            max-width: 10rem;
            
            svg {
                width: 100%;

                g {
                    opacity: 0;
                }

                .vuota {
                    opacity: 1;
                }

                .modificatore {
                    fill: #e30000;
                }

                .nascondi-elemento {
                    opacity: 0;
                }

                .mostra-elemento {
                    opacity: 1;
                }
            }
        }

        .selector {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            button {
                margin: 0;
                width: 6rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:disabled {
                    background-color: palegoldenrod;
                }

                svg {
                    width: 4rem;

                    .yin, .yang {
                        fill: $button_text;
                    }

                    .modificatore {
                        fill: mix($button_text, $button_background, $weight: 50%) 
                    }
                }
            }
        }
    }

    #hex-text {
        background-color: $content_color;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin: 2rem auto;
        padding: 2rem 4rem;
        max-width: $max_width;

        #hex-header {
            font-weight: 500;
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: auto auto auto auto auto;
            column-gap: 1rem;
            grid-auto-flow: column;
            
            .symbol, .number, .name {
                text-align: center;
            }

            .symbol {
                font-size: 3rem;
            }

            .number {
                font-size: 1.4rem;
            }
            
            .name {
                font-size: 2rem;
                margin-bottom: 3.4rem;
            }
            
            .judgement, .image {
                white-space: pre-line;
                margin: 1rem 0;
                font-size: 1rem;
            }
            
            .image {
                font-style: italic;
            }
        }

        #hex-lines {
            padding-top: 2rem;
            border-top: 1px solid $button_background;
            margin-top: 2rem;

            .line {
                white-space: pre-line;
                margin: 1.4rem 0;

                .line-header {
                    font-weight: 600;
                    margin-bottom: .4rem;
                }
            }
        }
    }


    #altro {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    #hex-header {
        grid-template-columns: 1fr !important;
        grid-auto-flow: initial !important;
    }
}

@import "i-ching_dark";